.gameItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #eef5ee;
    height: 120px;
    background-color: #fff;
}

.image-item {
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.unmatched {
    background-color: red;
}

#board {
    justify-content: center;
}

#reset {
    text-align: center;
}
