<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <main
            class="container-fuild p-4"
            style="
                background-image: url('https://images.unsplash.com/photo-1681488454585-1b20b6e3e8b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
                background-repeat: no-repeat;
                background-size: cover;
            "
        >
            <header class="row"><%- include('partials/header.ejs') %></header>
            <div id="app">
                <section class="row" id="board"></section>
                <section class="row">
                    <div class="col">
                        <hr />
                        <button class="btn btn-primary" id="reset">Reset Game</button>
                        <button class="btn btn-danger">
                            <a style="text-decoration: none; color: #fff" href="/login">Cancel Game</a>
                        </button>
                    </div>
                </section>
            </div>
            <footer class="row"><%- include('partials/footer.ejs') %></footer>
        </main>
        <script src="assets/main.bundle.js"></script>
        <script src="assets/vendors-node_modules_autobind-decorator_lib_esm_index_js-node_modules_lodash_lodash_js.bundle.js"></script>
        <script src="assets/vendors-node_modules_autobind-decorator_lib_esm_index_js-node_modules_css-loader_dist_runtime-1a5908.bundle.js"></script>
        <%- include('partials/foot.ejs') %>
    </body>
</html>
