<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <main
            class="container-fuild p-4"
            style="
                background-image: url('https://media.istockphoto.com/id/1445326229/photo/cardboard-tone-vintage-texture-background-cream-paper-old-grunge-retro-rustic-for-wall.jpg?b=1&s=170667a&w=0&k=20&c=Xu59z-A8V-jeBexUNUTOKbV3eFuWDO1IU-zMYCwCckk=');
                background-repeat: no-repeat;
                background-size: cover;
            "
        >
            <header class="row"><%- include('partials/header.ejs') %></header>
            <div id="app">
                <section class="row" id="board"></section>
                <section class="row">
                    <div class="col" id="reset">
                        <hr />
                        <button class="btn btn-primary">Reset Game</button>
                        <button class="btn btn-danger">Cancel Game</button>
                    </div>
                </section>
            </div>
            <footer class="row"><%- include('partials/footer.ejs') %></footer>
        </main>
        <script src="assets/main.bundle.js"></script>
        <script src="assets/vendors-node_modules_autobind-decorator_lib_esm_index_js-node_modules_lodash_lodash_js.bundle.js"></script>
        <script src="assets/vendors-node_modules_autobind-decorator_lib_esm_index_js-node_modules_css-loader_dist_runtime-1a5908.bundle.js"></script>
        <%- include('partials/foot.ejs') %>
    </body>
</html>
