<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <main
            class="container-fluid pt-4"
            style="
                height: 100vh;
                background-image: url('https://allma.si/blog/wp-content/uploads/2022/02/memory-game-javascript.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            "
        >
            <div
                style="
                    width: 800px;
                    background-color: #fff;
                    box-shadow: 0px 0px 10px #ccc;
                    border-radius: 4px;
                    padding: 20px;
                    position: fixed;
                    z-index: 999;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                "
            >
                <header class="row"><%- include('partials/header.ejs') %></header>
                <section class="row" id="app">
                    <div class="col">
                        <form action="/board" style="padding: 16px">
                            <div class="form-group">
                                <label for="username">Tên người dùng</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="username"
                                    id="username"
                                    aria-describedby="UsernamehelpId"
                                    placeholder="Vui lòng nhập tên người dùng..."
                                />
                                <small id="usernamehelpId" class="form-text invisible" style="color: red"
                                    >Tên người dùng không được trống hoặc ít nhất 3 ký tự</small
                                >
                            </div>
                            <div class="from-group text-center">
                                <button type="button" id="play" class="btn btn-primary">Let's Go</button>
                            </div>
                        </form>
                    </div>
                </section>
                <footer class="row"><%- include('partials/footer.ejs') %></footer>
            </div>
        </main>

        <script src="assets/user.bundle.js"></script>
        <script src="assets/vendors-node_modules_autobind-decorator_lib_esm_index_js-node_modules_class-validator_esm5_de-157a7d.bundle.js"></script>
        <%- include('partials/foot.ejs') %>
    </body>
</html>
